.home {
  background-image: radial-gradient(#0f0326 2px, transparent 2px);
  background-size: 82px 82px;
  background-color: #f1f1f1;
  height: 100vh;
}

.home-content {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  font-family: var(--ff-subHeading);
}

.home-content h3 {
  font-size: 2rem;
  font-family: var(--ff-subHeading);
}

.home-content h1 {
  font-size: 4rem;
  font-family: var(--ff-text);
}

.home-content button {
  padding: 1.25rem;
  font-size: 1.25rem;
  border: none;
  outline: none;
  background-color: var(--color-dark-purple);
  color: var(--color-beige);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: transform ease 0.2s;
}

.home-content button:hover {
  transform: translateY(-1px);
}

@media (max-width: 480px) {
  .home-content {
    padding: 0 2rem;
  }
  .home-content h3 {
    font-size: 1.5rem;
  }

  .home-content button {
    font-size: 0.9rem;
    padding: 0.75rem 0.5rem;
    width: 120px;
  }

  .home-content h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 790px) {
  .home-content {
    padding: 0 2rem;
  }
  .home-content h3 {
    font-size: 1.5rem;
  }

  .home-content h1 {
    font-size: 2.5rem;
  }
  .home-content button {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

.featured-product {
  padding: 12vh 0;
}

.featured-product-heading span {
  border-bottom: 2px solid var(--color-dark-purple);
  padding: 0.25rem;
}

.featured-product-container {
  margin-top: 2rem;
  flex-wrap: wrap;
}
